{% extends 'app/base.html' %}

{% block content %}
{% load staticfiles %}
<link  href="{% static 'css/estilos.css' %}" rel="stylesheet">
<!-- <link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
<link  href="{% static 'css/icomoon/style.css' %}" rel="stylesheet">
<!-- <link  href="{% static 'css/carrusel.css' %}" rel="stylesheet"> -->
<link  href="{% static 'css/menu.css' %}" rel="stylesheet">
<link  href="{% static 'css/galeria1.css' %}" rel="stylesheet">
<link  href="{% static 'css/lightbox.min.css' %}" rel="stylesheet">
<!-- <link  href="{% static 'css/menuFijo.css' %}" rel="stylesheet"> -->
<link  href="{% static 'css/rrss.min.css' %}" rel="stylesheet">

<body>
    

        
    <h1 id="video_1">Blair Witch</h1>




    <div>
        <iframe class="video1" width="500" height="315" src="https://www.youtube.com/embed/RpJinaWyAd0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <div class="contenedor">

            <div class="padre1">

                <div class="hijo1">
                    <h2 id="t1">Blair Witch PC-GAME</h2>
                    <p id="p1">Género: Aventura, Indie, Terror
                        Fecha de lanzamiento: 30 de Agosto de 2019
                        Fecha de Actualización: 04 de Septiembre de 2019
                        Tamaño: 12.8 Gigas
                        Formato: ISO
                        Idioma Voces: Ingles
                        Idioma Textos: Español, Ingles, Francés, Italiano, Portugués de Brasil, entre otros.</p>
                    <img id="img1" src="{% static 'img/imgBlairWitch/Blair-Witch-2019-PC-imagen-001.png' %}">
                </div>


                <div class="hijo2">
                    <h2 id="t2">Acerca de «Blair Witch (2019)» para PC</h2>
                    <p id="p2">Es el año 1996. Un niño ha desaparecido en el bosque de Black Hills, a las afueras de
                        Burkitsville, Maryland. Te unirás a la búsqueda como Ellis, un ex-agente de policía con un
                        pasado
                        turbio. Lo que empieza como una investigación policial normal, pronto se convertirá en una
                        pesadilla
                        sin
                        fin a medida que te enfrentes a tus miedos y a la bruja de Blair, una entidad misteriosa que
                        frecuenta
                        el bosque…</p>
                    <img id="img2" src="{% static 'img/imgBlairWitch/Blair-Witch-2019-PC-imagen-002.png' %}">
                </div>


                <div class="hijo3">
                    <h2 id="t3">Características llamativas del juego</h2>
                    <p id="p3">
                        Una historia sobre el descenso personal a la oscuridad: De las mentes creativas detrás del
                        aclamado
                        Layers of Fear llega este título en el que experimentarás un miedo que inundará tu mente a
                        través
                        una
                        historia original basada en la leyenda de la Bruja de Blair.
                        Encuentra el camino en el bosque embrujado: Acompañado solo por tu fiel perro Bullet, ábrete
                        camino
                        a
                        través de un bosque maldito que distorsiona el tiempo y el espacio.
                        Tu cordura contra su maldición: Enfréntate a la terrorífica a la bruja de Blair y a la decadente
                        cordura
                        de un hombre atormentado por su pasado.
                        ¿Como te enfrentaras a tus miedos?: A medida que te adentres en el bosque, tus reacciones al
                        peligro
                        y
                        tu comportamiento bajo presión te enseñarán cada vez más sobre ti mismo.
                    </p>
                    <img id="img3" src="{% static 'img/imgBlairWitch//Blair-Witch-2019-PC-imagen-003.png' %}">
                </div>


                <div class="hijo4">
                    <h2 id="t4">Requerimientos de Sistema</h2>
                    <p id="p4">
                        Mínimos:
                        Requiere un procesador y un sistema operativo de 64 bits
                        Sistema Operativo: Windows 7
                        Procesador: Intel Core i3-3220 (3.30 GHz) | AMD A8-7600 (3.1 GHz)
                        Memoria: 4 Gigas de RAM
                        Gráficos: GeForce GTX 750 Ti | AMD Radeon R7 265
                        DirectX: Versión 11
                        Almacenamiento: 16 Gigas de espacio disponible
                        Tarjeta de sonido: DirectX 11.0 compatible

                        Recomendados:
                        Sistema Operativo: Windows 10 de 64 bits
                        Procesador: Intel Core i5-6500 (3.2 GHz) | AMD Ryzen 5 1600
                        Memoria: 8 Gigas de RAM
                        Gráficos: GeForce GTX 1070 | AMD Radeon RX 590
                        DirectX: Versión 11
                        Almacenamiento: 16 Gigas de espacio disponible
                    </p>
                    <img id="img4" src="{% static 'img/imgBlairWitch/Blair-Witch-2019-PC-imagen-004.png' %}">
                </div>

            </div>

        </div>
    </div>

    <p>
        <a href="#" id="volver">Volver al inicio de la página</a>
    </p>
    </body>
{% endblock content %}