{% extends 'app/base.html' %}

{% block content %}
{% load staticfiles %}

<link  href="{% static 'css/estilos.css' %}" rel="stylesheet">
<!-- <link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
<link  href="{% static 'css/icomoon/style.css' %}" rel="stylesheet">
<!-- <link  href="{% static 'css/carrusel.css' %}" rel="stylesheet"> -->
<link  href="{% static 'css/menu.css' %}" rel="stylesheet">
<link  href="{% static 'css/galeria1.css' %}" rel="stylesheet">
<link  href="{% static 'css/lightbox.min.css' %}" rel="stylesheet">
<!-- <link  href="{% static 'css/menuFijo.css' %}" rel="stylesheet"> -->
<!-- <link  href="{% static 'css/rrss.min.css' %}" rel="stylesheet"> -->

<h1 id="video_1">Final Fantasy</h1>


    <div>
        <iframe class="video1" width="500" height="315" src="https://www.youtube.com/embed/Y-VvWtmY4YE"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <div class="contenedor">

            <div class="padre1">

                <div class="hijo1">
                    <h2 id="t1"> FINAL FANTASY VIII – REMASTERED PC-GAME</h2>
                    <p id="p1">Género: Aventura, Rol
                        Fecha de lanzamiento: 03 Septiembre de 2019
                        Tamaño: 2.25 Gigas
                        Formato: ISO
                        Idioma: Español, Ingles, Francés, Alemán, Japones.</p>
                    <img id="img1" src="{% static 'img/imgFinalFantasy/Final-Fantasy-VIII-Remastered-2019-PC-imagen-001.png' %}">
                </div>


                <div class="hijo2">
                    <h2 id="t2">Acerca de «FINAL FANTASY VIII Remasterizado (2019)» para PC</h2>
                    <p id="p2">Son tiempos de guerra. Galbadia, bajo el control de la bruja Edea, ha movilizado sus
                        poderosísimos ejércitos contra las demás naciones del mundo. Squall y otros miembros de Seed,
                        una unidad de mercenarios de élite, unen fuerzas con Rinoa, perteneciente a la resistencia, para
                        plantarle cara al tiránico régimen de Galbadia y evitar que Edea se salga con la suya.</p>
                    <img id="img2" src="{% static 'img/imgFinalFantasy/Final-Fantasy-VIII-Remastered-2019-PC-imagen-002.png' %}">
                </div>


                <div class="hijo3">
                    <h2 id="t3">Este producto es una versión remasterizada de FINAL FANTASY VIII que incluye numerosas
                        mejoras, entre las que se encuentran opciones para personalizar la dificultad y experiencia de
                        juego
                    </h2>
                    <p id="p3">
                        Batallas más fáciles (barras de VIT y BTC al máximo y límites siempre disponibles)
                        Velocidad (x3)
                        Sin encuentros
                        Todos los objetos y habilidades
                        Nivel máximo G.F., guiles máximos (moneda) y magia máxima
                        Todos los límites y cartas
                    </p>
                    <img id="img3" src="{% static 'img/imgFinalFantasy/Final-Fantasy-VIII-Remastered-2019-PC-imagen-003.png' %}">
                </div>


                <div class="hijo4">
                    <h2 id="t4">Requerimientos de Sistema</h2>
                    <p id="p4">
                        Mínimos:
                        Sistemas Operativos: Windows 7 SP1 | 8.1 | 10
                        Procesador: AMD A-Series 2.2GHz | Intel Core i3 2.2GHz
                        Memoria: 2 Gigas de RAM
                        Gráficos: AMD Radeon R7 240 | NVIDIA GeForce GT 730
                        DirectX: Versión 11
                        Almacenamiento: 5 Gigas de espacio disponible

                        Recomendados:
                        Sistemas Operativos: Windows 7 SP1 | 8.1 | 10
                        Procesador: AMD A8-Series 3.1GHz | Intel Core i5 2.8GHz
                        Memoria: 4 Gigas de RAM
                        Gráficos: AMD Radeon RX 470 | NVIDIA GeForce GTX 960
                        DirectX: Versión 11
                        Almacenamiento: 5 Gigas de espacio disponible
                    </p>
                    <img id="img4" src="{% static 'img/imgFinalFantasy/Final-Fantasy-VIII-Remastered-2019-PC-imagen-004.png' %}">
                </div>

            </div>

        </div>
    </div>

    <p>
        <a href="#" id="volver">Volver al inicio de la página</a>
    </p>
{% endblock content %}