{% extends 'app/base.html' %}

{% block content %}
{% load staticfiles %}

<link  href="{% static 'css/estilos.css' %}" rel="stylesheet">
<!-- <link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
<link  href="{% static 'css/icomoon/style.css' %}" rel="stylesheet">
<!-- <link  href="{% static 'css/carrusel.css' %}" rel="stylesheet"> -->
<link  href="{% static 'css/menu.css' %}" rel="stylesheet">
<link  href="{% static 'css/galeria1.css' %}" rel="stylesheet">
<link  href="{% static 'css/lightbox.min.css' %}" rel="stylesheet">
<!-- <link  href="{% static 'css/menuFijo.css' %}" rel="stylesheet"> -->
<!-- <link  href="{% static 'css/rrss.min.css' %}" rel="stylesheet"> -->

<h1 id="video_1">NBA-2K20</h1>


    <div>
        <iframe class="video1" width="500" height="315" src="https://www.youtube.com/embed/XbfYmBVeNns"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="video2" width="500" height="315" src="https://www.youtube.com/embed/EhWIhN-QMVw"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="contenedor">

            <div class="padre1">

                <div class="hijo1">
                    <h2 id="t1"> NBA 2K20 PC-GAME</h2>
                    <p id="p1">Género: Simuladores, Deportes
                        Formato: ISO
                        Fecha de Lanzamiento: 06 de Septiembre de 2019
                        Tamaño: 75.7 Gigas
                        Idioma Voces: Español e Ingles
                        Idioma Textos: Español, Ingles, Francés, Alemán, Japones, entre otros.</p>
                    <img id="img1" src="{% static 'img/imgNBA-2K20/NBA-2K20-PC-imagen-001.png' %}">
                </div>


                <div class="hijo2">
                    <h2 id="t2">Acerca de «NBA 2K20» para PC</h2>
                    <p id="p2">NBA 2K se ha convertido en mucho más que un simulador de baloncesto. 2K redefine de nuevo
                        los juegos deportivos con NBA 2K20, el título con los mejores gráficos y jugabilidad,
                        innovadores modos de juego y una personalización y manejo de los jugadores incomparables.
                        Además, con su cautivador barrio en mundo abierto, NBA 2K20 es la plataforma donde jugadores y
                        deportistas se darán cita para dar forma al futuro del baloncesto.</p>
                    <img id="img2" src="{% static 'img/imgNBA-2K20/NBA-2K20-PC-imagen-002.png' %}">
                </div>


                <div class="hijo3">
                    <h2 id="t3">Lleva tu talento al siguiente nivel con la experiencia de jugador más realista hasta la
                        fecha
                    </h2>
                    <p id="p3">
                        Conn un motor de movimientos mejorado con estilos personalizados, controles de tiro avanzados,
                        un
                        nuevo sistema de dribling, colisiones sin balón perfeccionadas y un nuevo sistema defensivo de
                        predicción y reacción.
                    </p>
                    <img id="img3" src="{% static 'img/imgNBA-2K20/NBA-2K20-PC-imagen-003.png' %}">
                </div>


                <div class="hijo4">
                    <h2 id="t4">Requerimientos de Sistema</h2>
                    <p id="p4">
                        Mínimos:
                        Sistemas Operativos: Windows 7 64-bit, Windows 8.1 64-bit o Windows 10 64-bit
                        Procesador: Intel Core i3-530 de 2.93 GHz | AMD FX-4100 de 3.60 GHz o mejores
                        Memoria: 4 Gigas de RAM
                        Gráficos: NVIDIA GeForce GT 450 1 Giga | AMD Radeon HD 7770 1 Giga o mejores
                        DirectX: Versión 11
                        Almacenamiento: 80 Gigas de espacio disponible

                        Recomendados:
                        Sistema Operativo: Windows 10 64-bit
                        Procesador: Intel Core i5-4430 de 3 GHz | AMD FX-8370 de 3.4 GHz o mejores
                        Memoria: 8 Gigas de RAM
                        Gráficos: NVIDIA GeForce GTX 770 2 Gigas | AMD Radeon R9 270 2 Gigas o mejores
                        DirectX: Versión 11
                        Almacenamiento: 80 Gigas de espacio disponible
                    </p>
                    <img id="img4" src="{% static 'img/imgNBA-2K20/NBA-2K20-PC-imagen-004.png' %}">
                </div>

            </div>

        </div>
    </div>

    <p>
        <a href="#" id="volver">Volver al inicio de la página</a>
    </p>
{% endblock content %}